body{
    background-color: #F6FAF3;
    font-family: 'Miltonian Tattoo', cursive;
    color: #F6FAF3;
}
header{
    background-color: #718863;
    color: #F6FAF3;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    border-radius: 15px;
    text-align: center;
}

#header{
    font-size: 3em;
}

h1, h2, h3, h4{
    font-family: 'Miltonian', cursive;
}

footer{
    background-color: #718863;
    color: #F6FAF3;
    padding: 1vh 1vw;
    margin: 1vh 0vw;
    border-radius: 15px;
    font-style: italic;
    text-align: center;
}

div{
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    border-radius: 15px;
}

img{
    width: 30%;
    border-radius: 40px;
    padding: 2.5px;
}

#square{
    height: 250px;
    width: 250px;
}

#wrapper{
    background-color: #C7E3B6;
    position: relative;
    height: 200vh;
    text-align: center;
}

.inspiration{
    background-color: #9EBE8A;
    width: 43vw;
}

#space{
    float: right;
}

#ocean{
    float: left;
}

#mountain{
    float: right;
}

#other{
    float: right;
}

#sources{
    float: left;
}

#my_sketches{
    float: left;
}

ul{
    text-align: left;
}

a{
    color: #F6FAF3;
}

